<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <%# link_to "@Mailgun", root_path, class: "navbar-brand" %>
  <img src="/images/mailgun.svg" height="32" width="120" alt="IMG">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="fa fa-fw fa-dashboard"></i>
          <span class="nav-link-text">Dashboard</span>
        <% end %>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
        <%= link_to logs_path, class: "nav-link" do %>
          <i class="fa fa-fw fa-area-chart"></i>
          <span class="nav-link-text">Logs</span>
        <% end %>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <%= link_to bounces_path, class: "nav-link" do %>
          <i class="fa fa-fw fa-ban"></i>
          <span class="nav-link-text">Bounces</span>
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle fa-fw"></i> <%= current_user.email%>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item", :data => {:confirm => 'Are You Sure Want to Log Out?'} %>
        </div>
      </li>
    </ul>
  </div>
</nav>